body {
    background-color: whitesmoke;

}

#banner {
    height: 175px;
    border-radius:20px;
    text-align:center;
    padding-top:25px;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(green, lightgreen);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(green, lightgreen);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(green, lightgreen);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(green, lightgreen);
    /* Standard syntax (must be last) */
}

.win {
    color:green;
}

.loss {
    color:red;
}

.tie {
    color:grey;
}

