html { 
    margin: 0; 
    padding: 0; 
}

body { 
    font-family: sans-serif;
    color: #333; 
}

#colored_boxes_app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    border: 1px solid #eee;
    border-radius: 10px;
    margin: auto;
}

.box {
    height: 100px;
    width: 100px;
    background-color: grey;
    margin: 10px;
}
.box_row {
    display: flex;
    justify-content: center;
    width: 600px;
}

#mouse_coords {
    margin: auto;
    width: 100px;
    text-align: center;
}